html, head, body, h1, h2, h3, form, label, span {
  border: 0;
  margin: 0;
  padding: 0;

  text-align: inherit;
  text-decoration: inherit;
  font: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: sans-serif;
}

h1 {
  position: relative;
  text-align: center;
  font-size: 36px;
  margin: 20px 0 10px 0;
  font-weight: bold;
}

.author {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  position: relative;
  text-align: center;
}

.category {
  position: relative;
  left: 40%;
  margin: 20px 0;
}

ul {
  margin-left: 42%;
  border: 1px solid #000;
  border-radius: 5px;
  padding-top: 10px;
  width: 200px;
  height: 500px;
}

li {
  cursor: pointer;
}

span {
  position: relative;
  left: 19%;
  font-weight: bold;
}

.done {
  text-decoration: line-through;
}
